:root {
  --light-green-50: hsl(88deg 51.72% 94.31%);
  --light-green-400: hsl(87.96deg 50.24% 59.8%);
  --light-green-900: hsl(103.2deg 55.56% 26.47%);
  --light-green-1000: hsl(103deg, 45%, 14%);
  --navy-blue50: hsl(232deg, 26%, 80%);
  --navy-blue100: hsl(232deg, 26%, 60%);
  --navy-blue200: hsl(232deg, 26%, 35%);
  --navy-blue400: hsl(232deg, 26%, 25%);
  --navy-blue900: hsl(232deg, 26%, 18%);
  --navy-blue1000: hsl(232deg, 26%, 17%);
  --success-color: hsl(109.41deg 40.16% 24.9%);
  --success-bg-color: hsl(108.39deg 40.26% 84.9%);
  --warning-color: hsl(40deg 40.16% 24.9%);
  --warning-bg-color: hsl(40.65deg 40.26% 84.9%);
  --error-color: hsl(349.41deg 40.16% 24.9%);
  --error-bg-color: hsl(348.39deg 40.26% 84.9%);
  --info-color: hsl(190.04deg 89.72% 49.61%);
  --info-bg-color: hsl(186.67deg 40.91% 91.37%);
  --danger-color: hsl(0deg 40.26% 84.9%);
  --danger-bg-color: hsl(0deg 65.69% 40%);
  --white-color: hsl(0deg 0% 100%);
  --white-color1000: hsl(180deg, 11%, 98%);
  --white-color95: hsl(0deg 0% 95%);
  --gray-50: hsl(0deg 0% 98.04%);
  --gray-400: hsl(0deg 0% 74.12%);
  --gray-900: hsl(0deg 0% 12.94%);
  --black-color: hsl(0deg 0% 0%);
  --black30: hsl(0deg 0% 18.82%);
  --black1f: hsl(0deg 0% 12.16%);
  --black2f: hsl(210deg 8.75% 31.37%);
  --black3f: hsl(210deg 13.95% 83.14%);
  --black77: hsl(0deg 0% 46.67%);
  --smoky-black: hsl(20deg 60% 1.96%);
  --abbey-black: hsl(210deg, 4%, 19%);
  --teal: hsl(180deg, 100%, 50%);
  --peach: hsl(16deg, 100%, 70%);
  --silver: hsl(0deg, 0%, 75%);
  --silver-green: hsl(132deg, 6%, 69%);
  --gold-yellow: hsl(42deg, 100%, 50%);
  --meter-orange: hsl(37deg, 97%, 54%);
  --meter-red: hsl(359deg, 67%, 51%);
  --meter-green: hsl(160deg, 99%, 26%);
  --sl-color-gray-50: hsl(0deg 0% 97.5%);
  --sl-color-gray-100: hsl(240deg 4.8% 95.9%);
  --sl-color-gray-200: hsl(240deg 5.9% 90%);
  --sl-color-gray-300: hsl(240deg 4.9% 83.9%);
  --sl-color-gray-400: hsl(240deg 5% 64.9%);
  --sl-color-gray-500: hsl(240deg 3.8% 46.1%);
  --sl-color-gray-600: hsl(240deg 5.2% 33.9%);
  --sl-color-gray-700: hsl(240deg 5.3% 26.1%);
  --sl-color-gray-800: hsl(240deg 3.7% 15.9%);
  --sl-color-gray-900: hsl(240deg 5.9% 10%);
  --sl-color-gray-950: hsl(240deg 7.3% 8%);
  --sl-color-red-50: hsl(0deg 85.7% 97.3%);
  --sl-color-red-100: hsl(0deg 93.3% 94.1%);
  --sl-color-red-200: hsl(0deg 96.3% 89.4%);
  --sl-color-red-300: hsl(0deg 93.5% 81.8%);
  --sl-color-red-400: hsl(0deg 90.6% 70.8%);
  --sl-color-red-500: hsl(0deg 84.2% 60.2%);
  --sl-color-red-600: hsl(0deg 72.2% 50.6%);
  --sl-color-red-700: hsl(0deg 73.7% 41.8%);
  --sl-color-red-800: hsl(0deg 70% 35.3%);
  --sl-color-red-900: hsl(0deg 62.8% 30.6%);
  --sl-color-red-950: hsl(0deg 60% 19.6%);
  --sl-color-orange-50: hsl(33.3deg 100% 96.5%);
  --sl-color-orange-100: hsl(34.3deg 100% 91.8%);
  --sl-color-orange-200: hsl(32.1deg 97.7% 83.1%);
  --sl-color-orange-300: hsl(30.7deg 97.2% 72.4%);
  --sl-color-orange-400: hsl(27deg 96% 61%);
  --sl-color-orange-500: hsl(24.6deg 95% 53.1%);
  --sl-color-orange-600: hsl(20.5deg 90.2% 48.2%);
  --sl-color-orange-700: hsl(17.5deg 88.3% 40.4%);
  --sl-color-orange-800: hsl(15deg 79.1% 33.7%);
  --sl-color-orange-900: hsl(15.3deg 74.6% 27.8%);
  --sl-color-orange-950: hsl(15.2deg 69.1% 19%);
  --sl-color-amber-50: hsl(48deg 100% 96.1%);
  --sl-color-amber-100: hsl(48deg 96.5% 88.8%);
  --sl-color-amber-200: hsl(48deg 96.6% 76.7%);
  --sl-color-amber-300: hsl(45.9deg 96.7% 64.5%);
  --sl-color-amber-400: hsl(43.3deg 96.4% 56.3%);
  --sl-color-amber-500: hsl(37.7deg 92.1% 50.2%);
  --sl-color-amber-600: hsl(32.1deg 94.6% 43.7%);
  --sl-color-amber-700: hsl(26deg 90.5% 37.1%);
  --sl-color-amber-800: hsl(22.7deg 82.5% 31.4%);
  --sl-color-amber-900: hsl(21.7deg 77.8% 26.5%);
  --sl-color-amber-950: hsl(22.9deg 74.1% 16.7%);
  --sl-color-yellow-50: hsl(54.5deg 91.7% 95.3%);
  --sl-color-yellow-100: hsl(54.9deg 96.7% 88%);
  --sl-color-yellow-200: hsl(52.8deg 98.3% 76.9%);
  --sl-color-yellow-300: hsl(50.4deg 97.8% 63.5%);
  --sl-color-yellow-400: hsl(47.9deg 95.8% 53.1%);
  --sl-color-yellow-500: hsl(45.4deg 93.4% 47.5%);
  --sl-color-yellow-600: hsl(40.6deg 96.1% 40.4%);
  --sl-color-yellow-700: hsl(35.5deg 91.7% 32.9%);
  --sl-color-yellow-800: hsl(31.8deg 81% 28.8%);
  --sl-color-yellow-900: hsl(28.4deg 72.5% 25.7%);
  --sl-color-yellow-950: hsl(33.1deg 69% 13.9%);
  --sl-color-lime-50: hsl(78.3deg 92% 95.1%);
  --sl-color-lime-100: hsl(79.6deg 89.1% 89.2%);
  --sl-color-lime-200: hsl(80.9deg 88.5% 79.6%);
  --sl-color-lime-300: hsl(82deg 84.5% 67.1%);
  --sl-color-lime-400: hsl(82.7deg 78% 55.5%);
  --sl-color-lime-500: hsl(83.7deg 80.5% 44.3%);
  --sl-color-lime-600: hsl(84.8deg 85.2% 34.5%);
  --sl-color-lime-700: hsl(85.9deg 78.4% 27.3%);
  --sl-color-lime-800: hsl(86.3deg 69% 22.7%);
  --sl-color-lime-900: hsl(87.6deg 61.2% 20.2%);
  --sl-color-lime-950: hsl(86.5deg 60.6% 13.9%);
  --sl-color-lime-1000: hsl(95deg 31% 47%);
  --sl-color-green-50: hsl(138.5deg 76.5% 96.7%);
  --sl-color-green-100: hsl(140.6deg 84.2% 92.5%);
  --sl-color-green-200: hsl(141deg 78.9% 85.1%);
  --sl-color-green-300: hsl(141.7deg 76.6% 73.1%);
  --sl-color-green-400: hsl(141.9deg 69.2% 58%);
  --sl-color-green-500: hsl(142.1deg 70.6% 45.3%);
  --sl-color-green-600: hsl(142.1deg 76.2% 36.3%);
  --sl-color-green-700: hsl(142.4deg 71.8% 29.2%);
  --sl-color-green-800: hsl(142.8deg 64.2% 24.1%);
  --sl-color-green-900: hsl(143.8deg 61.2% 20.2%);
  --sl-color-green-950: hsl(144.3deg 60.7% 12%);
  --sl-color-green-1000: hsl(130deg, 21%, 21%);
  --sl-color-green-1050: hsl(120deg, 4%, 14%);
  --sl-color-emerald-50: hsl(151.8deg 81% 95.9%);
  --sl-color-emerald-100: hsl(149.3deg 80.4% 90%);
  --sl-color-emerald-200: hsl(152.4deg 76% 80.4%);
  --sl-color-emerald-300: hsl(156.2deg 71.6% 66.9%);
  --sl-color-emerald-400: hsl(158.1deg 64.4% 51.6%);
  --sl-color-emerald-500: hsl(160.1deg 84.1% 39.4%);
  --sl-color-emerald-600: hsl(161.4deg 93.5% 30.4%);
  --sl-color-emerald-700: hsl(162.9deg 93.5% 24.3%);
  --sl-color-emerald-800: hsl(163.1deg 88.1% 19.8%);
  --sl-color-emerald-900: hsl(164.2deg 85.7% 16.5%);
  --sl-color-emerald-950: hsl(164.3deg 87.5% 9.4%);
  --sl-color-teal-50: hsl(166.2deg 76.5% 96.7%);
  --sl-color-teal-100: hsl(167.2deg 85.5% 89.2%);
  --sl-color-teal-200: hsl(168.4deg 83.8% 78.2%);
  --sl-color-teal-300: hsl(170.6deg 76.9% 64.3%);
  --sl-color-teal-400: hsl(172.5deg 66% 50.4%);
  --sl-color-teal-500: hsl(173.4deg 80.4% 40%);
  --sl-color-teal-600: hsl(174.7deg 83.9% 31.6%);
  --sl-color-teal-700: hsl(175.3deg 77.4% 26.1%);
  --sl-color-teal-800: hsl(176.1deg 69.4% 21.8%);
  --sl-color-teal-900: hsl(175.9deg 60.8% 19%);
  --sl-color-teal-950: hsl(176.5deg 58.6% 11.4%);
  --sl-color-cyan-50: hsl(183.2deg 100% 96.3%);
  --sl-color-cyan-100: hsl(185.1deg 95.9% 90.4%);
  --sl-color-cyan-200: hsl(186.2deg 93.5% 81.8%);
  --sl-color-cyan-300: hsl(187deg 92.4% 69%);
  --sl-color-cyan-400: hsl(187.9deg 85.7% 53.3%);
  --sl-color-cyan-500: hsl(188.7deg 94.5% 42.7%);
  --sl-color-cyan-600: hsl(191.6deg 91.4% 36.5%);
  --sl-color-cyan-700: hsl(192.9deg 82.3% 31%);
  --sl-color-cyan-800: hsl(194.4deg 69.6% 27.1%);
  --sl-color-cyan-900: hsl(196.4deg 63.6% 23.7%);
  --sl-color-cyan-950: hsl(196.8deg 61% 16.1%);
  --sl-color-sky-50: hsl(204deg 100% 97.1%);
  --sl-color-sky-100: hsl(204deg 93.8% 93.7%);
  --sl-color-sky-200: hsl(200.6deg 94.4% 86.1%);
  --sl-color-sky-300: hsl(199.4deg 95.5% 73.9%);
  --sl-color-sky-400: hsl(198.4deg 93.2% 59.6%);
  --sl-color-sky-500: hsl(198.6deg 88.7% 48.4%);
  --sl-color-sky-600: hsl(200.4deg 98% 39.4%);
  --sl-color-sky-700: hsl(201.3deg 96.3% 32.2%);
  --sl-color-sky-800: hsl(201deg 90% 27.5%);
  --sl-color-sky-900: hsl(202deg 80.3% 23.9%);
  --sl-color-sky-950: hsl(202.3deg 73.8% 16.5%);
  --sl-color-blue-50: hsl(213.8deg 100% 96.9%);
  --sl-color-blue-100: hsl(214.3deg 94.6% 92.7%);
  --sl-color-blue-200: hsl(213.3deg 96.9% 87.3%);
  --sl-color-blue-300: hsl(211.7deg 96.4% 78.4%);
  --sl-color-blue-400: hsl(213.1deg 93.9% 67.8%);
  --sl-color-blue-500: hsl(217.2deg 91.2% 59.8%);
  --sl-color-blue-600: hsl(221.2deg 83.2% 53.3%);
  --sl-color-blue-700: hsl(224.3deg 76.3% 48%);
  --sl-color-blue-800: hsl(225.9deg 70.7% 40.2%);
  --sl-color-blue-900: hsl(224.4deg 64.3% 32.9%);
  --sl-color-blue-950: hsl(226.2deg 55.3% 18.4%);
  --sl-color-indigo-50: hsl(225.9deg 100% 96.7%);
  --sl-color-indigo-100: hsl(226.5deg 100% 93.9%);
  --sl-color-indigo-200: hsl(228deg 96.5% 88.8%);
  --sl-color-indigo-300: hsl(229.7deg 93.5% 81.8%);
  --sl-color-indigo-400: hsl(234.5deg 89.5% 73.9%);
  --sl-color-indigo-500: hsl(238.7deg 83.5% 66.7%);
  --sl-color-indigo-600: hsl(243.4deg 75.4% 58.6%);
  --sl-color-indigo-700: hsl(244.5deg 57.9% 50.6%);
  --sl-color-indigo-800: hsl(243.7deg 54.5% 41.4%);
  --sl-color-indigo-900: hsl(242.2deg 47.4% 34.3%);
  --sl-color-indigo-950: hsl(243.5deg 43.6% 22.9%);
  --sl-color-violet-50: hsl(250deg 100% 97.6%);
  --sl-color-violet-100: hsl(251.4deg 91.3% 95.5%);
  --sl-color-violet-200: hsl(250.5deg 95.2% 91.8%);
  --sl-color-violet-300: hsl(252.5deg 94.7% 85.1%);
  --sl-color-violet-400: hsl(255.1deg 91.7% 76.3%);
  --sl-color-violet-500: hsl(258.3deg 89.5% 66.3%);
  --sl-color-violet-600: hsl(262.1deg 83.3% 57.8%);
  --sl-color-violet-700: hsl(263.4deg 70% 50.4%);
  --sl-color-violet-800: hsl(263.4deg 69.3% 42.2%);
  --sl-color-violet-900: hsl(263.5deg 67.4% 34.9%);
  --sl-color-violet-950: hsl(265.1deg 61.5% 21.4%);
  --sl-color-purple-50: hsl(270deg 100% 98%);
  --sl-color-purple-100: hsl(268.7deg 100% 95.5%);
  --sl-color-purple-200: hsl(268.6deg 100% 91.8%);
  --sl-color-purple-300: hsl(269.2deg 97.4% 85.1%);
  --sl-color-purple-400: hsl(270deg 95.2% 75.3%);
  --sl-color-purple-500: hsl(270.7deg 91% 65.1%);
  --sl-color-purple-600: hsl(271.5deg 81.3% 55.9%);
  --sl-color-purple-700: hsl(272.1deg 71.7% 47.1%);
  --sl-color-purple-800: hsl(272.9deg 67.2% 39.4%);
  --sl-color-purple-900: hsl(273.6deg 65.6% 32%);
  --sl-color-purple-950: hsl(276deg 59.5% 16.5%);
  --sl-color-fuchsia-50: hsl(289.1deg 100% 97.8%);
  --sl-color-fuchsia-100: hsl(287deg 100% 95.5%);
  --sl-color-fuchsia-200: hsl(288.3deg 95.8% 90.6%);
  --sl-color-fuchsia-300: hsl(291.1deg 93.1% 82.9%);
  --sl-color-fuchsia-400: hsl(292deg 91.4% 72.5%);
  --sl-color-fuchsia-500: hsl(292.2deg 84.1% 60.6%);
  --sl-color-fuchsia-600: hsl(293.4deg 69.5% 48.8%);
  --sl-color-fuchsia-700: hsl(294.7deg 72.4% 39.8%);
  --sl-color-fuchsia-800: hsl(295.4deg 70.2% 32.9%);
  --sl-color-fuchsia-900: hsl(296.7deg 63.6% 28%);
  --sl-color-fuchsia-950: hsl(297.1deg 56.8% 14.5%);
  --sl-color-pink-50: hsl(327.3deg 73.3% 97.1%);
  --sl-color-pink-100: hsl(325.7deg 77.8% 94.7%);
  --sl-color-pink-200: hsl(325.9deg 84.6% 89.8%);
  --sl-color-pink-300: hsl(327.4deg 87.1% 81.8%);
  --sl-color-pink-400: hsl(328.6deg 85.5% 70.2%);
  --sl-color-pink-500: hsl(330.4deg 81.2% 60.4%);
  --sl-color-pink-600: hsl(333.3deg 71.4% 50.6%);
  --sl-color-pink-700: hsl(335.1deg 77.6% 42%);
  --sl-color-pink-800: hsl(335.8deg 74.4% 35.3%);
  --sl-color-pink-900: hsl(335.9deg 69% 30.4%);
  --sl-color-pink-950: hsl(336.2deg 65.4% 15.9%);
  --sl-color-rose-50: hsl(355.7deg 100% 97.3%);
  --sl-color-rose-100: hsl(355.6deg 100% 94.7%);
  --sl-color-rose-200: hsl(352.7deg 96.1% 90%);
  --sl-color-rose-300: hsl(352.6deg 95.7% 81.8%);
  --sl-color-rose-400: hsl(351.3deg 94.5% 71.4%);
  --sl-color-rose-500: hsl(349.7deg 89.2% 60.2%);
  --sl-color-rose-600: hsl(346.8deg 77.2% 49.8%);
  --sl-color-rose-700: hsl(345.3deg 82.7% 40.8%);
  --sl-color-rose-800: hsl(343.4deg 79.7% 34.7%);
  --sl-color-rose-900: hsl(341.5deg 75.5% 30.4%);
  --sl-color-rose-950: hsl(341.3deg 70.1% 17.1%);
  --sl-color-primary-50: var(--sl-color-sky-50);
  --sl-color-primary-100: var(--sl-color-sky-100);
  --sl-color-primary-200: var(--sl-color-sky-200);
  --sl-color-primary-300: var(--sl-color-sky-300);
  --sl-color-primary-400: var(--sl-color-sky-400);
  --sl-color-primary-500: var(--sl-color-sky-500);
  --sl-color-primary-600: var(--sl-color-sky-600);
  --sl-color-primary-700: var(--sl-color-sky-700);
  --sl-color-primary-800: var(--sl-color-sky-800);
  --sl-color-primary-900: var(--sl-color-sky-900);
  --sl-color-primary-950: var(--sl-color-sky-950);
  --sl-color-success-50: var(--sl-color-green-50);
  --sl-color-success-100: var(--sl-color-green-100);
  --sl-color-success-200: var(--sl-color-green-200);
  --sl-color-success-300: var(--sl-color-green-300);
  --sl-color-success-400: var(--sl-color-green-400);
  --sl-color-success-500: var(--sl-color-green-500);
  --sl-color-success-600: var(--sl-color-green-600);
  --sl-color-success-700: var(--sl-color-green-700);
  --sl-color-success-800: var(--sl-color-green-800);
  --sl-color-success-900: var(--sl-color-green-900);
  --sl-color-success-950: var(--sl-color-green-950);
  --sl-color-warning-50: var(--sl-color-amber-50);
  --sl-color-warning-100: var(--sl-color-amber-100);
  --sl-color-warning-200: var(--sl-color-amber-200);
  --sl-color-warning-300: var(--sl-color-amber-300);
  --sl-color-warning-400: var(--sl-color-amber-400);
  --sl-color-warning-500: var(--sl-color-amber-500);
  --sl-color-warning-600: var(--sl-color-amber-600);
  --sl-color-warning-700: var(--sl-color-amber-700);
  --sl-color-warning-800: var(--sl-color-amber-800);
  --sl-color-warning-900: var(--sl-color-amber-900);
  --sl-color-warning-950: var(--sl-color-amber-950);
  --sl-color-danger-50: var(--sl-color-red-50);
  --sl-color-danger-100: var(--sl-color-red-100);
  --sl-color-danger-200: var(--sl-color-red-200);
  --sl-color-danger-300: var(--sl-color-red-300);
  --sl-color-danger-400: var(--sl-color-red-400);
  --sl-color-danger-500: var(--sl-color-red-500);
  --sl-color-danger-600: var(--sl-color-red-600);
  --sl-color-danger-700: var(--sl-color-red-700);
  --sl-color-danger-800: var(--sl-color-red-800);
  --sl-color-danger-900: var(--sl-color-red-900);
  --sl-color-danger-950: var(--sl-color-red-950);
  --sl-color-neutral-50: var(--sl-color-gray-50);
  --sl-color-neutral-100: var(--sl-color-gray-100);
  --sl-color-neutral-200: var(--sl-color-gray-200);
  --sl-color-neutral-300: var(--sl-color-gray-300);
  --sl-color-neutral-400: var(--sl-color-gray-400);
  --sl-color-neutral-500: var(--sl-color-gray-500);
  --sl-color-neutral-600: var(--sl-color-gray-600);
  --sl-color-neutral-700: var(--sl-color-gray-700);
  --sl-color-neutral-800: var(--sl-color-gray-800);
  --sl-color-neutral-900: var(--sl-color-gray-900);
  --sl-color-neutral-950: var(--sl-color-gray-950);
  --sl-color-neutral-0: hsl(0deg, 0%, 100%);
  --sl-color-neutral-1000: hsl(0deg, 0%, 0%);
  --sl-color-dash-footer: hsl(129deg, 50%, 28%);
  --sl-color-neutral-eee: #eee;
  --sl-color-blue-gray: #a6cadd;
  --sl-color-dark-orange400: #f6a366;
  --sl-shadow-x-small: 0 1px 2px hsl(240deg 3.8% 46.1% / 6%);
  --sl-shadow-small: 0 1px 2px hsl(240deg 3.8% 46.1% / 12%);
  --sl-shadow-medium: 0 2px 4px hsl(240deg 3.8% 46.1% / 12%);
  --sl-shadow-large: 0 2px 8px hsl(240deg 3.8% 46.1% / 12%);
  --sl-shadow-x-large: 0 4px 16px hsl(240deg 3.8% 46.1% / 12%);
  --sl-translation: all 0.4s ease-in-out;
  --test: #4a97c3;
  --test2: #dfeaf5;
  --test3: #e28444;
  --test4: #f6a366;
  --test5: #66a8ce;
  --test6: #dfeaf5;

  font-size: calc(1vw + 0.6em);
  box-sizing: border-box;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.12em;
  }
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--sl-color-neutral-eee);
  font-family: 'Poppins', sans-serif;
  color: var(--black77);
  font-weight: 300;
  line-height: 1.625;
}


/* summary section */
.body-section{
  min-height: 1000px;
}

.summary{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1180px;
  padding: 1em;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

@media (min-width: 50em){
  .summary{
    flex-direction: row;
  }
}

.summary-card{
  padding: 1em;
  width: 80%;
  background-color: var(--sl-color-neutral-0);
  box-shadow: var(--sl-shadow-medium);
  height: 100px;
  flex-wrap: wrap;
}

@media (min-width: 50em){
  .summary-card{
    width: 45%;
  }
}
/* section-1 styles */
.summary-card1{
  padding: 1em;
  width: 80%;
  background-color: var(--sl-color-neutral-0);
  box-shadow: none;
  height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;

}

.section-1{
  background-color: var(--sl-color-neutral-0);
  
  min-height: 400px;
  margin-top: 4em;
  justify-content: center;

}