{% extends "base/auth_base.html" %}
{% load static %}
{% block content %}
    <section class="auth-container">
        <section class="auth-inner-container">
            <aside class="auth-aside-cover">
                <img style="height: 7em;
                            position:absolute;
                            top:30%;
                            left:30%"
                     class="aside-img"
                     src="{% static 'img/img5.svg' %}" />
            </aside>
            <main class="auth-main-cover">
                <header class="header-container">
                    login
                </header>
                <div>
                    <form class="form-container" role="form" action="#" method="post">
                        <input type="email" class="email" placeholder="email" required>
                        <input type="password" class="password" placeholder="password" required>
                        <button type="submit" class="button" submit>Login</button>
                    </form>
                    <a href="" class="forgot-password">forgot password?</a>
                </div>
            </main>
        </section>
    </section>
{% endblock content %}
